<!DOCTYPE html>
<html lang="en" ng-app="bestFanApp">
<head>
	<meta charset="utf-8">
	<title>Best Fan</title>
	<link rel="stylesheet/less" type="text/css" href="main.less" />
	<script src="less.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="controller.js"></script>
</head>
<body>
	<div ng-controller="mainController">
		<input type="text" placeholder="GitHub Username" ng-keypress="onKeypress($event)" ng-model="username">

		<pre>{{ fans | json }}</pre>
		<div id="fan-list">
			<div class="fan" ng-repeat="fan in fans">
				<div class="avatar">
					<a href="?{{ fan.login }}"><img src="{{ fan.avatar_url }}" title="{{ fan.login }}"></a>
				</div>
				<div>
					<h3>{{ fan.login }}</h3>
					<span class="star">{{ fan.counter }}</span>
					<a href="?{{ fan.login }}">View Fans</a> &middot; <a href="{{ fan.html_url }}">GitHub Profile</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
