<!DOCTYPE html>
<html lang="en" ng-app="bestFanApp">
<head>
	<meta charset="utf-8">
	<title>Best Fan</title>
	<link rel="stylesheet/less" type="text/css" href="main.less" />
	<script src="less.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="randomColor.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-controller="mainController" >
	<div id="scroll-wrapper">
		<div id="container">
			<div id="title">
				<h1>Best Fan</h1>
			</div>
			
			<input id="username-input" type="text" placeholder="GitHub Username" ng-keypress="onKeypress($event)" ng-model="username">
			<p ng-if="error" id="error">Oops! An error has occured: {{ error }}</p>

			<div id="description">
				<p><strong>Who is your best fan?</strong><br>
				Top of people who gave you stars on your GitHub repositories, also called stargazers.</p>
			</div>

			<div ng-if="isUsernameDefined">
				<div id="fan-list">
					<div class="fan" ng-repeat="fan in fans">
						<div class="color-tag" ng-style="{ background: getColor($index) }"></div>
						<div class="avatar">
							<a href="?{{ fan.login }}"><img src="{{ fan.avatar_url }}" title="{{ fan.login }}"></a>
						</div>
						<div>
							<h3>{{ fan.login }}</h3>
							<span class="star">{{ fan.counter }} star<span ng-if="fan.counter > 1">s</span></span>
							<br>
							<div class="links">
								<a href="?{{ fan.login }}">View Fans</a> &middot; <a href="{{ fan.html_url }}">GitHub Profile</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="graph">
		<div
			class="graph-block"
			ng-repeat="fan in fans"
			ng-style="{ width: {{ fan.counter * 100 / totalStars }} + '%', background: getColor($index) }"
			title="{{ fan.login }}"
		></div>
	</div>
</body>
</html>
