* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;

	background-image: url('bg.jpg');
	background-size: cover;
}

#fan-list {
	.fan {
		.avatar {
			flaot: left;
			padding-right: 20px;

			img {
				width: 100px;
				height: 100px;
			}
		}
	}
}