* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;

	background-image: url('bg.jpg');
	background-size: cover;
}


#scroll-wrapper {
	overflow: auto;
	height: 100%;
}

#container {
	max-width: 1000px;
	margin: auto;
	padding: 100px;
}

#title {
	text-align: center;
}

#error {
	text-align: center;
	color: darkred;
}

#username-input {
	display: block;
	text-align: center;
	width: 400px;
	margin: 50px auto;
	padding: 10px;
	font-size: 20px;
}

#fan-list {
	.fan {
		margin: 10px 0;
		padding: 20px;

		border-bottom: 1px rgba(0, 0, 0, 0.5) solid;

		&:last-child {
			border: 0;
		}

		&:after {
			content:'';
			display:block;
			clear: both;
		}

		.avatar {
			float: left;
			padding-right: 20px;

			img {
				width: 100px;
				height: 100px;
			}
		}
	}
}
